#{extends 'template.html' /}
#{set title:'Clubs' /}

<div class="section">
    <h1>List of Clubs</h1>
	<br/>
	<table id="dataTable">
	    <thead>
	        <tr>
	        	<th>Name</th>
	        	<th>Action</th>
			</tr>
		</thead>
		<tbody>
			 %{clubs.eachWithIndex() { object, k -> }%
		    <tr class="${k % 2 ? 'even' : 'odd'}">
		      <td>${object.name}</td>
		      <td><a href="@{view(object._key())}">View</a>&nbsp;&nbsp;<a href="@{edit(object._key())}">Edit</a></td>
		    </tr>
		    %{ } }%
		</tbody>
	</table>
</div>
