#{extends 'main.html' /}
#{set title:'Clubs' /}

<table id="example">
    <thead>
        <tr>
        	<td>Name</td>
        	<td>Action</td>
		</tr>
	</thead>
	<tbody>
		 %{clubs.eachWithIndex() { object, k -> }%
	    <tr class="${k % 2 ? 'even' : 'odd'}">
	      <td>${object.name}</td>
	      <td><a href="@{view(object._key())}">View</a>&nbsp;&nbsp;<a href="@{edit(object._key())}">Edit</a></td>
	    </tr>
	    %{ } }%
	</tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "bLengthChange": false,
        "bFilter": false,
        "bPaginate": false,
        "bInfo": false,
        "bSort": false
    });
} );
</script>