#{extends 'template.html' /}
#{set title:'Tee Times' /}

<div class="section">
    <h1>Tee Times</h1>
	<br/>
	<a id="addButton" href="@{add()}" >&{'teeTime.add'}</a>
	<br/>
	<br/>
	<table id="dataTable">
	    <thead>
	        <tr>
	        	<th>Course</th>
	        	<th>Date</th>
	        	<th>Open Spots</th>
	        	<th>Action</th>
			</tr>
		</thead>
		<tbody>
			 %{teeTimes.eachWithIndex() { teeTime, k -> }%
		    <tr class="${k % 2 ? 'even' : 'odd'}">
		      <td>${teeTime.course?.name}</td>
		      <td>${teeTime.date?.format('MM/dd/yyyy hh:mm a')}</td>
		      <td>${teeTime.getNumOpenSpots()}</td>
		      <td>
		      	<a href="@{view(teeTime._key())}">View</a>&nbsp;&nbsp;
		      	#{if user.canSignUp(teeTime) }
			      	<a href="@{signUp(teeTime._key())}">SignUp</a>&nbsp;&nbsp;
			    #{/if}
		      	#{if user.isTeeTimeListUpdateable() }
			      	<a href="@{edit(teeTime._key())}">Enter Scores</a>&nbsp;&nbsp;
			    #{/if}
		      	#{if user.isTeeTimeListDeleteable() }
			      	<a href="@{delete(teeTime._key())}">Delete</a>
			    #{/if}
		      </td>
		    </tr>
		    %{ } }%
		</tbody>
	</table>
</div>
