#{extends 'template.html' /}
#{set title:'Add Score' /}

#{set 'sidebar'}
        <div class="content">
            <h1>Add Score</h1>

            <p>
                Change the club name, the url used to read blog posts and the url that links to your club's external web site. 
            </p>

        </div>
#{/ set}

<div class="section">
    <h1>Add Score</h1>
    
    #{form  @save()}
    	<fieldset>
    		<input type="hidden" name="score.id" id="score.id" value="${score?.id}"/>
    		
	    	#{field 'score.user.username'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'user.username'}</label>
					<select name="${field.name}" id="${field.name}">
						<option value=>Please Select ...&nbsp;&nbsp;&nbsp;&nbsp;</option>
						%{members.eachWithIndex() { member, k -> }%
							<option value="${member.username}">${member.name}&nbsp;&nbsp;&nbsp;&nbsp;</option>
						%{ } }%
					</select>	    	
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'score.teeSet.course.name'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'course.name'}</label>
					<select name="${field.name}" onchange="reloadTeeSets(this);">
						<option value=>Please Select ...&nbsp;&nbsp;&nbsp;&nbsp;</option>
						%{courses.eachWithIndex() { course, k -> }%
							<option value="${course.id}">${course.name}&nbsp;&nbsp;&nbsp;&nbsp;</option>
						%{ } }%
					</select>	    	
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'score.teeSet.id'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'teeSet.teeType'}</label>
					<select name="${field.name}" id="${field.name}" >
						<option value=>Please Select ...&nbsp;&nbsp;&nbsp;&nbsp;</option>
					</select>	    	
	        	    <span class="error">${field.error}</span>
				</p>
		    #{/field}
	    	#{field 'score.date'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'score.date'}</label>
	            	<input type="date" name="${field.name}" size="16" value="${score?.date}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'score.grossScore'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'score.grossScore'}</label>
	            	<input type="number" name="${field.name}" size="8" value="${score.grossScore}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'score.adjustedScore'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'score.adjustedScore'}</label>
	            	<input type="number" name="${field.name}" size="8" value="${score.adjustedScore}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
    	
    	</fieldset>
		<div class="buttonBox">
			<input type="submit" id="save" value="&{'score.save'}"  />
			<a id="cancel" href="@{cancel}">&{'score.cancel'}</a>
		</div>
    	
    #{/form}
    
</div>

<script type="text/javascript">
function reloadTeeSets(selectObj) {
	var idx = selectObj.selectedIndex; 
	// get the value of the selected option 
	var which = selectObj.options[idx].value; 
	$('#score\\.teeSet\\.id').load('/teeSets/selectList?id='+which, function() {
		$('#score\\.teeSet\\.id').selectmenu();
	});
};

</script>