#{extends 'template.html' /}
#{set title:'Scores' /}

<div class="section">
    <h1>Scores</h1>
	<br/>
	<table id="dataTable">
	    <thead>
	        <tr>
	        	<th>Date</th>
	        	<th>Course</th>
	        	<th>Slope</th>
	        	<th>Gross</th>
	        	<th>Adjusted</th>
	        	<th>Differential</th>
	        	<th>Action</th>
			</tr>
		</thead>
		<tbody>
			 %{scores.eachWithIndex() { score, k -> }%
		    <tr class="${score.counter ? 'counter' : ''}">
		      <td>${score.date}</td>
		      <td>${score.teeSet.course.name}</td>
		      <td>${score.teeSet.slopeRating}</td>
		      <td>${score.grossScore}</td>
		      <td>${score.adjustedScore}</td>
		      <td>${score.getDifferential()}</td>
		      <td><a href="@{view(score._key())}">View</a>&nbsp;&nbsp;<a href="@{edit(score._key())}">Edit</a>&nbsp;&nbsp;<a href="@{delete(score._key())}">Delete</a></td>
		    </tr>
		    %{ } }%
		</tbody>
	</table>
	<br/>
	<div class="buttonBox">
		<a id="cancel" href="@{Members.list()}">&{'scores.return'}</a>
	</div>
	
</div>
