#{extends 'template.html' /}
#{set title:'Edit Club' /}

#{set 'sidebar'}
        <div class="content">
            <h1>Edit Club</h1>

            <p>
                Change the club name, the url used to read blog posts and the url that links to your club's external web site. 
            </p>

        </div>
#{/ set}

<div class="section">
    <h1>Edit Course</h1>
    
    #{form  @save()}
    	<fieldset>
    		<input type="hidden" name="course.id" id="course.id" value="${course?.id}"/>
	    	#{field 'course.name'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'course.name'}</label>
	            	<input type="text" name="${field.name}" size="16" value="${course?.name}"> *
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.name'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'facility.name'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.name}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.addressLine1'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.addressLine1'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.addressLine1}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.addressLine2'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.addressLine2'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.addressLine2}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.city'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.city'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.city}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.state'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.state'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.state}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.zipCode'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.zipCode'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.zipCode}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.phone'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'facility.phone'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.phone}">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
    	
    		<table id="dataTable">
			    <thead>
			        <tr>
			        	<th>Type</th>
			        	<th>Rating</th>
			        	<th>Slope</th>
					</tr>
				</thead>
				<tbody>
					 %{course.teeSets.eachWithIndex() { teeSet, k -> }%
				    <tr class="${k % 2 ? 'even' : 'odd'}">
				    	<td>${teeSet.teeType}</td>
				      <td>
				        <input type="text" name="courseRating" size="16" value="${teeSet?.courseRating}">
				      </td>
				      <td>
		            	<input type="text" name="slopeRating" size="16" value="${teeSet?.slopeRating}">
				      </td>
				    </tr>
				    %{ } }%
				</tbody>
			</table>
    	
    	</fieldset>
		<div class="buttonBox">
			<input type="submit" id="save" value="&{'course.save'}"  />
			<a id="cancel" href="@{cancel}">&{'course.cancel'}</a>
		</div>
    	
    #{/form}
    
</div>