#{extends 'template.html' /}
#{set title:'Courses' /}

<div class="section">
    <h1>Courses</h1>
	<br/>
	<table id="dataTable">
	    <thead>
	        <tr>
	        	<th>Name</th>
	        	<th>Action</th>
			</tr>
		</thead>
		<tbody>
			 %{courses.eachWithIndex() { course, k -> }%
		    <tr class="${k % 2 ? 'even' : 'odd'}">
		      <td>${course.name}</td>
		      <td><a href="@{view(member._key())}">View</a>&nbsp;&nbsp;<a href="@{edit(member._key())}">Edit</a>&nbsp;&nbsp;<a href="@{delete(member._key())}">Delete</a></td>
		    </tr>
		    %{ } }%
		</tbody>
	</table>
</div>