#{extends 'template.html' /} 
#{set title:'View Club' /}

<div class="section">
    <div class="section">
        <h1>Course Details</h1>
    </div>

      
	<div class="section">
		<form id="memberSelectionForm" name="memberSelectionForm" method="post" enctype="application/x-www-form-urlencoded">
			<fieldset>
	    	#{field 'course.name'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'course.name'}</label>
	            	<input type="text" name="${field.name}" size="16" value="${course?.name}" disabled="true"> *
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.name'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'facility.name'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.name}" disabled="true">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.addressLine1'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.addressLine1'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.addressLine1}" disabled="true">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.addressLine2'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.addressLine2'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.addressLine2}" disabled="true">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.city'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.city'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.city}" disabled="true">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.state'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.state'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.state}" disabled="true">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.address.zipCode'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'address.zipCode'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.address?.zipCode}" disabled="true">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
	    	#{field 'course.facility.phone'}
		        <p class="${field.errorClass}">
			        <label for="${field.name}">&{'facility.phone'}</label>
	            	<input type="text" name="${field.name}" size="62" value="${course?.facility?.phone}" disabled="true">
	        	    <span class="error">${field.error}</span>
	    	    </p>
		    #{/field}
    	
    		<table id="dataTable">
			    <thead>
			        <tr>
			        	<th>Type</th>
			        	<th>Rating</th>
			        	<th>Slope</th>
					</tr>
				</thead>
				<tbody>
					 %{course.teeSets.eachWithIndex() { teeSet, k -> }%
				    <tr class="${k % 2 ? 'even' : 'odd'}">
				    	<td>${teeSet.teeType}</td>
				      <td>
				        <input type="text" name="courseRating" size="16" value="${teeSet?.courseRating}" disabled="true">
				      </td>
				      <td>
		            	<input type="text" name="slopeRating" size="16" value="${teeSet?.slopeRating}" disabled="true">
				      </td>
				    </tr>
				    %{ } }%
				</tbody>
			</table>
    	
    	</fieldset>
		</form>
	</div>
	<div class="section">
		<h1>Pending Memberships</h1>
	</div>
	<div class="section">
		<span id="noMembershipMsg">No Membership Requests Found</span>
		<form id="membershipSelectionForm" name="membershipSelectionForm" method="post" action="/clubs/club.jsf?cid=1" enctype="application/x-www-form-urlencoded">
		</form>
    </div>	
</div>