#{extends 'template.html' /}
#{set title:'Register' /}


#{set 'sidebar'}
        <div class="content">
            <h1>GolfPlus Registration</h1>

            <p>
                Register an account at GolfPlus allows you to sign in and either create a club or join a club.  When joining a club, a 
 				membership request will be sent to the club administrator for approval.  Once approved you will be notified by email,
 				text or by coming back to the site and checking your messages in the left navigation bar.
            </p>

        </div>
#{/ set}


#{form  @save()}
	<fieldset>
    	#{field 'user.name'}
	        <p class="${field.errorClass}">
		        <label for="${field.name}">&{'register.fullname'}</label>
            	<input type="text" name="${field.name}" size="16" value="${user?.name}"> *
        	    <span class="error">${field.error}</span>
    	    </p>
	    #{/field}
    	#{field 'user.username'}
	        <p class="${field.errorClass}">
		        <label for="${field.name}">&{'register.username'}</label>
            	<input type="text" name="${field.name}" size="16" value="${user?.username}"> *
        	    <span class="error">${field.error}</span>
    	    </p>
	    #{/field}
    	#{field 'user.email'}
	        <p class="${field.errorClass}">
		        <label for="${field.name}">&{'register.email'}</label>
            	<input type="text" name="${field.name}" size="16" value="${user?.email}"> *
        	    <span class="error">${field.error}</span>
    	    </p>
	    #{/field}
    	#{field 'user.password'}
	        <p class="${field.errorClass}">
		        <label for="${field.name}">&{'register.password'}</label>
            	<input type="password" name="${field.name}" size="16" value="${user?.password}"> *
        	    <span class="error">${field.error}</span>
    	    </p>
	    #{/field}
    	#{field 'confirmpassword'}
	        <p class="${field.errorClass}">
		        <label for="${field.name}">&{'register.confirmpassword'}</label>
            	<input type="password" name="${field.name}" size="16" value="${confirmpassword}"> *
        	    <span class="error">${field.error}</span>
    	    </p>
	    #{/field}
	</fieldset>
	<div class="buttonBox">
		<input type="submit" id="signin" value="&{'register.register'}" />
        
	</div>
#{/form}
