<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/golfplus.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body class="home">
		<div id="document">
	    	<div id="header">
				<div id="title">
					<h1>&{'home_title', home_title}</h1>
				</div>
				<form id="menuForm">
					<div id="status">
						<span>${user}</span>
						<a href="@{Clubs.list()}">Login</a>
						&nbsp;|&nbsp;
						<a href="@{Clubs.list()}">Clubs</a>
						&nbsp;|&nbsp;
						<a href="@{Clubs.list()}">Members</a>
						&nbsp;|&nbsp;
						<a href="@{Clubs.list()}">Courses</a>
						&nbsp;|&nbsp;
						<a href="@{Clubs.list()}">Tee Times</a>
						&nbsp;|&nbsp;
						<a href="@{Clubs.list()}">Tournaments</a>
						&nbsp;|&nbsp;
						<a href="@{Clubs.list()}">Account</a>
						&nbsp;|&nbsp;
	                    <a href="@{Secure.logout()}">Log out</a>
					</div>
				</form>
	    	</div>
	    	<div id="container">
	        	<div id="sidebar">
					<form id="login" action="/login" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" >
						<fieldset>
							<p id="username-field">
								<label for="username">Username:</label>
								<input type="text" name="username" id="username" value="" />
							</p>
							<p id="password-field">
								<label for="password">Password:</label>
								<input type="password" name="password" id="password" value="" />
							</p>
							<p id="remember-field">
								<input type="checkbox" name="remember" id="remember" value="true"  />
								<label for="remember">Remember me</label>
							</p>
							<p id="signin-field">
								<input type="submit" id="signin" value="Sign in" />
							</p>
						</fieldset>
					</form>
 	        	</div>
		    	<div id="content">
			    	<ul class="errors">
						#{errors}
							<li>${error}</li>
						#{/errors}
					</ul>
			        #{doLayout /}
		    	</div>
	    	</div>
	    	<div id="footer">
	                &{'template_createdWith'}<br/>
	                &{'template_projectStage'}: 
	                &nbsp;|&nbsp;
	                &{'template_currentConversation'}:
	                <br/>
	                Selected Club: ${selectedClub}
	    	
	    	</div>
    	</div>
    </body>
</html>
