<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.ui.timepicker.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.ui.selectmenu.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/themes/dark-hive/jquery-ui-1.8.16.custom.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/golfplus.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.ui.selectmenu.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.ui.timepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/setupControls.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body class="home">
		<div id="document">
	    	<div id="header">
				<div id="title">
					<h1>&{'home_title', home_title}</h1>
				</div>
					<nav id="status">
						#{loggedIn}<span>(${user})&nbsp;</span>#{/loggedIn}
						<a href="@{Application.index()}">Home</a>&nbsp;|&nbsp;
						#{secure.check 'ClubListVisible'}<a href="@{Clubs.list()}">Clubs</a>&nbsp;|&nbsp;#{/secure.check}
						#{secure.check 'MemberListVisible'}<a href="@{Members.list()}">Members</a>&nbsp;|&nbsp;#{/secure.check}
						#{secure.check 'CourseListVisible'}<a href="@{Courses.list()}">Courses</a>&nbsp;|&nbsp;#{/secure.check}
						#{secure.check 'ScoreListVisible'}<a href="@{Scores.list()}">Scores</a>&nbsp;|&nbsp;#{/secure.check}
						#{secure.check 'TeeTimeListVisible'}<a href="@{TeeTimes.list()}">Tee Times</a>&nbsp;|&nbsp;#{/secure.check}
						#{secure.check 'TournamentListVisible'}<a href="@{Tournaments.list()}">Tournaments</a>&nbsp;|&nbsp;#{/secure.check}
						#{secure.check 'AccountVisible'}<a href="@{Accounts.index()}">Account</a>&nbsp;|&nbsp;#{/secure.check}
	                    #{loggedIn}<a href="@{Secure.logout()}">Log out</a>#{/loggedIn}
				</nav>
	    	</div>
	    	<div id="container">
	        	<aside id="sidebar">
					#{loggedIn}
						<div id="siteMessageTable">
							%{siteMessages.eachWithIndex() { siteMessage, k -> }%
						      <div>
						      	<span>${siteMessage.messageText}</span>
						      	<br/>
						      	<a href="#" onclick="reloadSiteMessages(${siteMessage.id});">Mark as Read</a>
						      </div>
						    %{ } }%
						</div>
					#{/loggedIn}
					#{get 'sidebar' /}
 	        	</aside>
		    	<div id="content">
						#{if flash.error}
		                        <p class="error">
		                                &{flash.error}
		                        </p>
		                #{/if}
		                #{if flash.success}
		                        <p class="success">
		                                &{flash.success}
		                        </p>
		                #{/if}
			        #{doLayout /}
		    	</div>
	    	</div>
	    	<div id="footer">
	                &{'template_createdWith'}<br/>
	                &{'template_projectStage'}: 
	                <br/>
	                Selected Club: ${selectedClub}
	    	
	    	</div>
    	</div>
    </body>
</html>
