#{extends 'template.html' /}
#{set title:'Members' /}

<div class="section">
    <h1>Club Members</h1>
	<br/>
	<table id="dataTable">
	    <thead>
	        <tr>
	        	<th>Name</th>
	        	<th>Handicap</th>
	        	<th>Action</th>
			</tr>
		</thead>
		<tbody>
			 %{members.eachWithIndex() { member, k -> }%
		    <tr class="${k % 2 ? 'even' : 'odd'}">
		      <td>${member.name}</td>
		      <td>${member.handicap}</td>
		      <td><a href="@{Scores.listForMember(member._key())}">View</a>&nbsp;&nbsp;<a href="@{calculateHandicap(member._key())}">Calculate</a></td>
		    </tr>
		    %{ } }%
		</tbody>
	</table>
	<br/>
	<br/>
	<h1>Membership Requests</h1>
	<br/>
	<table id="dataTable">
	    <thead>
	        <tr>
	        	<th>Name</th>
	        	<th>Action</th>
			</tr>
		</thead>
		<tbody>
			 %{membershipRequests.eachWithIndex() { membershipRequest, k -> }%
		    <tr class="${k % 2 ? 'even' : 'odd'}">
		      <td>${membershipRequest.user.username}</td>
		      <td><a href="@{accept(membershipRequest._key())}">Accept</a>&nbsp;&nbsp;<a href="@{reject(membershipRequest._key())}">Reject</a></td>
		    </tr>
		    %{ } }%
		</tbody>
	</table>
</div>
